<div class="bg-gray-50 w-full rounded-lg shadow">
    <div class=" w-full rounded-lg shadow p-10">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
         approve Tenders
        </h1>
         <div class="relative overflow-x-auto mt-8">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-white uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="bg-indigo-950">
                <th scope="col" class="px-6 py-3">
                    tender id
                </th>
                <th scope="col" class="px-6 py-3">
                    vendor id
                </th>
                <th scope="col" class="px-6 py-3">
                    tender name
                </th>
                <th scope="col" class="px-6 py-3">
                    amount
                </th>
                <th scope="col" class="px-6 py-3">
                    date
                </th>
                
                <th scope="col" class="px-6 py-3">
                    action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    T1
                </td>
                <td class="px-6 py-4">
                    0xf539fd12bd458202e4a5f24218b4a2fd5332b61f
                </td>
                <td class="px-6 py-4">
                    hy2 road constraction
                </td>
                
                <td class="px-6 py-4">
                    123
                </td>
                <td class="px-6 py-4">
                    24/04/2024
                </td>
              
                <td class="px-6 py-4 flex gap-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">approve</a>
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">reject</a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    T2
                </td>
                <td class="px-6 py-4">
                    0xf539fd12bd458202e4a5f24218b4a2fd5332b61f
                </td>
                <td class="px-6 py-4">
                  Software Development
                </td>
                
                <td class="px-6 py-4">
                    12345
                </td>
                <td class="px-6 py-4">
                    24/12/2002
                </td>
                <td class="px-6 py-4 flex gap-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">approve</a>
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">reject</a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    T3
                </td>
                <td class="px-6 py-4">
                    0xf539fd12bd458202e4a5f24218b4a2fd5332b61f
                </td>
                <td class="px-6 py-4">
                    travel agency
                </td>
                
                <td class="px-6 py-4">
                    123
                </td>
                <td class="px-6 py-4">
                    23/04/2024
                </td>
                 
                <td class="px-6 py-4 flex gap-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">approve</a>
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">reject</a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    T4
                </td>
                <td class="px-6 py-4">
                    0xf539fd12bd458202e4a5f24218b4a2fd5332b61f
                </td>
                <td class="px-6 py-4">
                    building constraction
                </td>
                
                <td class="px-6 py-4">
                    1234
                </td>
                <td class="px-6 py-4">
                    26/04/2024
                </td>
                
                <td class="px-6 py-4 flex gap-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">approve</a>
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">reject</a>
                </td>
            </tr>
           
           
        </tbody>
    </table>
</div>

    </div>
</div>


