<section class="bg-gray-100 w-full ">
    <div class=" w-full h-full p-10" >
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
         bidding history
        </h1>
<div class="relative overflow-x-auto mt-8">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-white uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="bg-indigo-950">
                
                <th scope="col" class="px-6 py-3">
                    tender id
                </th>
                <th scope="col" class="px-6 py-3">
                   tender name
                </th>
                <th scope="col" class="px-6 py-3">
                    tender  type
                </th>
                <th scope="col" class="px-6 py-3">
                    bid amount
                </th>
                <th scope="col" class="px-6 py-3">
                    tender details
                </th>
                <th scope="col" class="px-6 py-3">
                    status
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    T1
                </td>
                <td class="px-6 py-4">
                    hy2 road constraction
                </td>
                <td class="px-6 py-4">
                    constraction
                </td>
                
                <td class="px-6 py-4">
                    1234
                </td>
                <td class="px-6 py-4">
                    travel agency used to manage the travels in all over india
                </td>
               
                <td class="px-6 py-4">
                    rejected
                </td>
            </tr>
            <tr>
            <td class="px-6 py-4">
                T4
            </td>
            <td class="px-6 py-4">
                travel website develop
            </td>
            <td class="px-6 py-4">
                software development
            </td>
            
            <td class="px-6 py-4">
                1234
            </td>
            <td class="px-6 py-4">
                travel agency used to manage the travels in all over india
            </td>
           
            <td class="px-6 py-4">
                approved
            </td>
        </tr>
           
        </tbody>
    </table>
</div>
    </div>
</section>




