<nav class="absolute w-full top-0 left-0 h-screen z-50 {{isSidebarShowing?'flex':'hidden'}}">
    <div class="bg-white shadow-2xl w-full md:max-w-sm">
    <div class="flex justify-end p-5">
      <svg (click)="this.closeSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </div>
    <div class="px-3">
      
      <app-menu></app-menu>
      </div>
      
    </div>
    <div (click)="this.closeSideBar()" class="bg-gray-500 opacity-60 hidden md:block md:w-full">
    </div>
    </nav>
<div class="flex z-30 absolute w-full py-2 px-10 border-b justify-between items-center bg-white">
    <a href="" class="flex gap-1 items-center ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 text-indigo-950">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
          </svg>          
        <h1 class="text-3xl font-bold text-indigo-950 ">Tender<span class="text-indigo-600">Time</span></h1>
    </a>
    <div class="lg:hidden block">
        <svg (click)="this.openSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        
      </div>
     <app-menu class="hidden lg:block"></app-menu>
</div>

