<section class="h-screen w-full bg-cover absolute top-0" style="background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../../assets/home.jpg');">

<div class="m-56 mt-60 text-white w-[650px]">
    <h1 class="text-4xl font-bold text-white ">Welcome to our Tender<span class="text-indigo-600">Time</span></h1>
    <p class="mt-4">Optimize your tender processes with our inclusive system. Our platform provides a user-friendly interface for formulating tenders, allowing you to define detailed requirements and specifications. You can easily manage submissions and track the progress of each tender. Our system ensures transparency and accountability throughout the entire tendering process.</p>
    <div class="mt-5">
    <app-buttons colr=" " name="Get Started"></app-buttons>
    </div>
</div>
</section>

